/*Reset CSS*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

/*Phone menu*/

.menu {
    overflow: hidden;
    list-style: none;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: 3;
    width: 0;
    height: 100vh;
    transition: 0.8s;
    background: rgb(0, 0, 0, .9);
}
.burgerWrapper {
    display: block;
    position: absolute;
    top: 10px;
    left: 20px;
}

.burger {
    margin: 10px 0;
    width: 40px;
    height: 5px;
    background: white;
}
.linkwrapper {
    transition: 0.4s;
    list-style: none;
    width: 100%;
    height: 125px;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    ;
    margin: 40px 0;
    z-index: 5;
    color: white;
}

.menu .linkwrapper li {
    margin: 20px 0;
}
.menu .linkwrapper li a:visited{
    color: white;
}
.menu .linkwrapper li a:active{
    color: tomato;
}

.menu .linkwrapper li {
    margin: 20px 0;
}

/*Nav*/

nav {
    display: block;
}

nav .linkwrapper {
    list-style: none;
    font-size: 1.2em;
    position: absolute;
    top: 20px;
    right: 50px;
    display: none;
}

nav .linkwrapper li {
    margin: 0 20px;
    display: inline-block;
}

nav .linkwrapper li:hover {
    color: rgb(255, 196, 196);
}

nav>h1 {
    padding: 20px;
    display: block;
    text-align: center;
    margin: auto 0
}
h1 {
    text-align: center;
    width: 100%;
    display: block;
    color: white;
    background: rgb(0, 0, 0, .8);
}

/*Header*/
    
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: 2s;
}

.headerText {
    transition: 1s;
    padding: 30px;
    font-weight: 900;
    font-size: 18px;
    text-align: center;
    text-align: center;
    color: white;
}
h3 {
    color: black;
    font-size: 2.2em;
    font-weight: bolder;
}
.line {
    background: black;
    height: 5px;
    width: 80%;
    margin: 20px 0;
}
/*Articles*/

.artcile {
    margin: 10px 0;
    width: 100%;
    height: auto;
    position: relative;
}

.reddish {
    position: absolute;
    background: rgb(0, 0, 0, .6);
    height: 100%;
    width: 100%;
}

.artcile p {
    width: 100%;
    padding: 0 20px;
    position: absolute;
    bottom: 50%;
    left: 0%;
    text-align: center;
    font-family: 'robotto', Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    font-size: 1.2em;
}

.artcile a {
    bottom: 40px;
    width: 40%;
    left: 30%;
    position: absolute;
    padding: 10px;
    border-radius: 50px;
    text-align: center;
    background: white;
    color: black;
}

.artcile a:hover {
    background: black;
    color: white;
}

.artcile img {
    width: 100%;
    height: 100%;
    z-index: -10;
}
.pages{
    list-style: none;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 10px 0;
}
.pages > li{
    margin: 0 10px;
    padding: 20px;
    background: rgb(0, 0, 0, .8);
    color: white;
}
.pages > li > a{
    color: white;
}
/*Footer*/

footer {
    text-align: center;
    background: #333;
    color: white;
    padding: 15px 0; 
}
/*Animation*/

@keyframes slide {
    0% {
        left: -800px;
    }
    100% {
        left: 0;
    }
}

/*Responsive*/

@media only screen and (min-width: 1000px) {
    nav a {
        text-decoration: none;
        color: white;
    }
    nav>h1 {
        float: left;
    }
    .wrapper {
        padding: 0 120px;
    }
    .artcile {
        margin: 0;
        width: 100%;
    }
    .articleContainer {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: auto auto auto auto;
    }
    .headerText {
        font-size: 2em;
        padding: 0 25%;
    }
    .burgerWrapper {
        display: none;
    }
    nav {
        display: block;
    }
    button {
        padding: 20px;
        font-size: 1em;
    }
    .articlewrapper {
        margin: 0 80px;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 90px;
    }
    nav .linkwrapper {
        position: absolute;
        top: 25px;
        color: white;
        display: block;
    }
    nav {
        height: 80px;
        background: rgb(0, 0, 0, .8);
        width: 100%;
    }
    h1 {
        background: transparent;
        width: 20%;
    }
    .linkwrapper {
        text-align: right;
        margin: 0;
    }
    .pages{
        list-style: none;
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        margin: 10px 0;
    }
    .pages > li{
        margin: 0 10px;
        padding: 10px;
        background: rgb(0, 0, 0, .8);
        color: white;
    }
}








