/*Reset CSS*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}
/*Phone menu*/
.menu {
    overflow: hidden;
    list-style: none;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: 3;
    width: 0;
    height: 100vh;
    transition: 0.8s;
    background: rgb(0, 0, 0, .9);
}
.burgerWrapper {
    display: block;
    position: absolute;
    top: 10px;
    left: 20px;
}

.burger {
    margin: 10px 0;
    width: 40px;
    height: 5px;
    background: white;
}
.linkwrapper {
    transition: 0.4s;
    list-style: none;
    width: 100%;
    height: 125px;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    ;
    margin: 40px 0;
    z-index: 5;
    color: white;
}

.menu .linkwrapper li {
    margin: 20px 0;
}
.menu .linkwrapper li a:visited{
    color: white;
}
.menu .linkwrapper li a:active{
    color: tomato;
}
/*Nav*/

nav {
    display: block;
}
nav .linkwrapper {
    list-style: none;
    font-size: 1.2em;
    position: absolute;
    top: 20px;
    right: 50px;
    display: none;
}

nav .linkwrapper li {
    margin: 0 20px;
    display: inline-block;
}

nav .linkwrapper li:hover {
    color: rgb(255, 196, 196);
}

nav>h1 {
    padding: 20px;
    display: block;
    text-align: center;
    margin: auto 0
}

h1 {
    text-align: center;
    width: 100%;
    display: block;
    color: white;
    background: rgb(0, 0, 0,.8);
}
/*Header*/
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: 2s;
}

.headerText {
    transition: 1s;
    padding: 30px;
    font-weight: 900;
    font-size: 20px;
    text-align: center;
    text-align: center;
    color: white;
}
h3 {
    color: black;
    font-size: 2.2em;
    font-weight: bolder;
}
.line {
    background: black;
    height: 5px;
    width: 80%;
    margin: 20px 0;
}
/*Container profile*/

.container{
    overflow:hidden;
    width: 100%;
    height: auto;
}
.container img{
    margin: 40px 0;
    width: 100%
}
.container p{
    font-size: 1.2em;
    padding: 0 20px;
    text-align: center;
    margin: 10px 0;
}
/*Container Skills*/

.skillcontainer{
    margin: 20px 0;
    width: 100%;
    height: auto;
}
.skill{
    border-radius: 20px;
    position: absolute;
    margin: 20px 0;
    width: 100%;
    height: 20px;
    background: rgb(167, 167, 167)
}
.skillbox{
    margin: 10px 0;
    height: 50px;
}
.skillbox p{
    position: relative;
    top: 0;
    font-weight: 800;
    left: 0;
}
.skillbox p:nth-child(2){
    float: right;
    font-weight: 800;
}
.skill_level{
    position: relative;
    background: red;
    height: 100%;
    left: 0;
    
    top: 0
}
/*Footer*/
footer {
   margin: 80px 0 0 0 ; 
    text-align: center;
}
/*Animation*/
@keyframes slide {
    0% {
        left: -800px;
    }
    100% {
        left: 0;
    }
}
/*Responsive*/
@media only screen and (min-width: 1000px) {
    nav a{
        text-decoration:none;
        color: white; 
    }
    nav>h1 {
        float: left;
    }
    .wrapper {
        padding: 0 120px;
    }
    .headerText {
        font-size: 2em;
        padding: 0 25%;
    }
    .burgerWrapper {
        display: none;
    }
    nav {
        display: block;
    }
    button {
        padding: 20px;
        font-size: 1em;
    }
    nav .linkwrapper {
        position: absolute;
        top: 25px;
        color: white;
        display: block;
    }
    nav {
        height: 80px;
        background: rgb(0, 0, 0, .8);
        width: 100%;
    }
    h1{
        background: transparent;
        width: 20%;
    }
    .container{
        padding: 0 80px;
        width: 100%;
        justify-items: center;
        align-items: center;
        display: grid;
        grid-template-columns: 40% auto;
    }
    .container img{
        padding: 0;
        margin: 0;
        border-radius: 100%;
        width: 50%;
    }
    .container p{
        padding: 0 80px;
        font-size: 1.4em;
    }
    .skillscontainer{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .skillbox{
        width: 90%;
        padding: 0 20px;
    }
    .skill{
        width: 90%;
    }
    .linkwrapper {
        text-align: right;
        margin: 0;
    }
}