/*Reset CSS*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

/*Phone Menu*/

.menu {
    overflow: hidden;
    list-style: none;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: 3;
    width: 0;
    height: 100vh;
    transition: 0.8s;
    background: rgb(0, 0, 0, .9);
}

.burgerWrapper {
    display: block;
    position: absolute;
    top: 10px;
    left: 20px;
}

.burger {
    margin: 10px 0;
    width: 40px;
    height: 5px;
    background: white;
}

.linkwrapper {
    transition: 0.4s;
    list-style: none;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    z-index: 5;
    color: white;
}

.menu .linkwrapper li {
    margin: 20px 0;
}

.menu .linkwrapper li a:visited {
    color: white;
}

.menu .linkwrapper li a:active {
    color: tomato;
}

/*Nav*/

nav {
    display: none;
}

h1 {
    display: block;
    width: 20%;
    background: #FFFFFF;
}

nav .linkwrapper {
    list-style: none;
    font-size: 1.2em;
    position: absolute;
    top: 20px;
    right: 50px;
}

nav .linkwrapper li {
    margin: 0 20px;
    display: inline-block;
}

nav .linkwrapper li:hover {
    color: rgb(255, 196, 196);
}

nav>h1 {
    padding: 20px;
    display: block;
    text-align: center;
    margin: auto 0
}

/*Header*/

button {
    margin: 30px 0;
    width: 60%;
    padding: 20px;
    height: auto;
    background: transparent;
    border: 2px solid white;
    border-radius: 80px;
    color: white;
    font-size: 1.5em;
}

button a {
    display: block;
    text-decoration: none;
    color: white;
}

button:hover {
    background: white;
    color: black;
}

h3 {
    font-size: 2.2em;
    font-weight: bolder;
}

.subtext {
    font-weight: 100;
    font-size: 0.5em;
}

header {
    width: 100%;
    background-image: url(header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: table;
    transition: 2s;
}

.headerText {
    transition: 1s;
    padding: 30px;
    font-weight: 900;
    font-size: 20px;
    text-align: center;
    text-align: center;
    color: white;
    display: table-cell;
    vertical-align: middle;
}

/*Footer*/

footer {
    text-align: center;
}

/*Animation*/

@keyframes slide {
    0% {
        left: -800px;
    }
    100% {
        left: 0;
    }
}

/*Responsive*/

@media only screen and (min-width: 1000px) {
    nav a {
        text-decoration: none;
        color: black;
    }
    nav>h1 {
        float: left;
    }
    .wrapper {
        padding: 0 120px;
    }
    .artcile {
        width: 100%;
    }
    .linkwrapper {
        text-align: right;
        margin: 0;
    }
    .articleContainer {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: auto auto auto auto;
    }
    .headerText {
        font-size: 2em;
        padding: 0 25%;
    }
    .burgerWrapper {
        display: none;
    }
    nav {
        display: block;
    }
    button {
        padding: 20px;
        font-size: 1em;
    }
    
}